<p>Hello,</p>

<p>someone connected a device to our server and gave provided this email for notification. If this was you please confirm
your email with the following link:</p>

<p><a href="{{verificationLink}}">{{verificationLink}}</a></p>
